.faq {

  display: grid;
  place-items: center;
  margin-top: 100px;
  margin-bottom: 100px;

  &-wrapper {
    width: 60%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    place-items: center;
    padding: 5em;

    &-item {
      width: 100%;
      height: 100%;
      margin: 1em 0;
      position: relative;
    }
  

  }
  // &-item:hover + .faq-item-description {
  //   display: block;
  // }


  &-position-absolute {
    display: grid;
    grid-auto-flow: column;
  }

  img.faq-icon {
    margin-left: 0.3em;
  }

  &-item {
    cursor: pointer;
    position: relative;
    width: 100%;
    border: 1px solid $color-neon;
    border-radius: $border-radius;
    background: rgba($color-neon, 0.2);

    padding: 1.2em;
    margin: 1.4em 0em;



    &-text {
      color: $color-white;
      font-size: 1.8em;
      line-height: 2em;
      text-shadow: 0px 10px 60px rgba(255, 255, 255, 0.8);

      border-left: 2px solid $color-neon;
      padding-left: 1em;
    }

    &-description {
      font-size: 1.6em;
      line-height: 2em;
      color: $color-black;
      background-color: $color-white;
      border: 1px solid $color-neon;
      border-radius: $border-radius;
      padding: 2em;
      display: block;
      position: absolute;
      z-index: 1;
    }

    span {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translate(-50%, -50%);
    }
  }
}

@keyframes open {
  0% {
    display: 0;
  }

  100% {
    display: block;
  }
}
.faq-icon {
  transform-origin: left top;
  animation: scale 3s ease-in-out infinite alternate;
}
@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 768px) {
  .faq {
    font-size: 7px;

    &-wrapper {
      width: 90%  !important;
    }
  }
}
@media (min-width: 300px) and (max-width: 450px) {
  .faq {
    margin-top: 150px !important;

    &-wrapper {
      padding: 0em !important;
      width: 90% !important;
      margin: 0 auto;

      &-item {
        padding: 1em;
      }
    }
    &-position-absolute {
      grid-auto-flow: row !important;
      margin: 0 auto !important;
      place-items: center !important;
      text-align: center;

    }
  }
  .faq-item {
    padding: 1.2em 2em !important;
    padding-right: 5em !important;
  }
}
@media only screen and (max-width: 1024px) {
  .faq {
    &-wrapper {
      width: 950px;

    }
  }
}
