.play {

  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 6em;
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  &-image {
    padding-top: 4em;
    width: 40em;
  }

  &-content {
    color: $color-white;

    &>h2 {
      font-weight: 900;
      font-size: 4.6em;
      line-height: 2em;
      color: $color-neon;
      text-shadow: 0px 10px 60px rgba(255, 255, 255, 0.4);
    }

    &>p {
      font-weight: 600;
      font-size: 1.6em;
      line-height: 2.4em;
      text-shadow: 0px 10px 60px rgba(255, 255, 255, 0.4);
    }
  }
}
.play-image {
  -webkit-animation: action 3s infinite  alternate;
  animation: action 3s infinite  alternate;
}
@-webkit-keyframes action {
  0% { transform: translateY(10px); }
  100% { transform: translateY(-50px); }
}
@keyframes action {
  0% { transform: translateY(10px); }
  100% { transform: translateY(-50px); }
}
@media only screen and (max-width: 768px) {
  .play {
    width: 90%  !important;
    font-size: 7px;
    height: auto;
  }
}

@media (min-width: 300px) and (max-width: 450px) {
  .play {
    grid-auto-flow: row !important;
    margin-top: 150px !important;
    text-align: center;
    width: 90% !important;

    &-content {
      order: 1;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .play {
    width: 950px;
    height: auto;
  }
}