.sailmap {
  // height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 150px;

  &-animation {
    width: 60%;
    // background: red;
    display: flex;
    position: relative;
    align-items: flex-end;
  }

  &-wrapper {
    width: 60%;
    min-height: 80em;
    margin: 0 auto;
    border: 1px solid $color-white;
    border-radius: $border-radius;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5em 2em;
    //
  }
  &-item:hover {
    background-color: #c9b1f536;
  }
  &-item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.1fr 4fr;
    border: 1px solid $color-neon;
    border-radius: $border-radius;
    background: rgba($color-neon, 0.2);
    padding: 1em 2em;
    margin: 2em 0em;

    & > div:nth-of-type(1) {
      display: grid;
      align-items: center;
      justify-content: center;
    }

    & > div:nth-of-type(2) {
      height: 80%;
      width: 0.1em;
      background-color: $color-neon;
      margin-right: 4em;
    }

    &-year {
      text-align: center;
      color: $color-purple;
      font-style: normal;
      font-weight: normal;
      font-size: 1.6em;
      line-height: 2.4em;
    }

    &-month {
      text-align: center;
      color: $color-white;
      font-weight: 900;
      font-size: 2.5em;
      text-transform: uppercase;
    }

    &-description--1,
    &-description--2 {
      color: $color-white;
      font-size: 1.6em;
      line-height: 2.4em;
      text-shadow: 0px 10px 60px rgba(255, 255, 255, 0.8);
    }
  }
  .animation-boat {
    width: 100%;
  }
  .boatToAnimate {
    position: absolute;
  }
}
// .scrollWrapper::-webkit-scrollbar-thumb:hover {
//   background: #b9faf5;
// } 
// .scrollWrapper::-webkit-scrollbar-track:hover {
//   border: 1px solid #b9faf5;
// }
.scrollWrapper::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.scrollWrapper::-webkit-scrollbar-track {
  background: transparent;
  border: 1px solid #b9faf5;
  border-radius: 12px;
}

/* Handle */
.scrollWrapper::-webkit-scrollbar-thumb {
  background: #b9faf5;
  border-radius: 12px;
}

/* Handle on hover */
.discordBtn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}	
// img.nonHov:hover + img.forHov {
//   display: block;
// }

img.forHov {
  display: block;
  // transition: 0.3s ease-in-out;
}
// img.nonHov:hover + img.forHov{
//   display: block;
// }

img.nonHov{
  display: block;
}

// .sailmap-wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

.scrollWrapper {
  width: 100%;
  overflow-y: scroll;
  height: 48em;
  padding: 0em 5em;
}
.lighthouse_to {
  width: 1122px;
  height: 150px;
  margin-bottom: -10px;
}

.boat-animate {
  text-align: left;
  margin-bottom: -185px;
}
//  ANIMATION BOAT LIGHTHOUSE
// .boatToAnimate {
//   -webkit-animation: linear infinite;
//   -webkit-animation-name: run;
//   -webkit-animation-duration: 20s;
//   -moz-animation: linear infinite;
//   -moz-animation-name: run;
//   -moz-animation-duration: 10s;
// }

// @keyframes run {
//   0% {
//     left: 0;
//     -webkit-transform: rotateY(0deg);
//     -moz-transform: rotateY(0deg);
//   }

//   50% {
//     left: 78%;
//     -webkit-transform: rotateY(0deg);
//     -moz-transform: rotateY(0deg);
//   }

//   51% {
//     -webkit-transform: rotateY(180deg);
//     -moz-transform: rotateY(180deg);
//   }

//   99% {
//     left: 0;
//     -webkit-transform: rotateY(180deg);
//     -moz-transform: rotateY(180deg);
//   }

//   100% {
//     left: 0;
//     -webkit-transform: rotateY(0deg);
//     -moz-transform: rotateY(0deg);
//   }
// }

@media only screen and (max-width: 768px) {
  .sailmap {
    &-wrapper {
      width: 90% !important;
      font-size: 7px;
    }
    &-animation {
      width: 90% !important;
    }
  }
}
@media (min-width: 300px) and (max-width: 450px) {
  .sailmap {
    margin-top: 150px !important;
    &-wrapper {
      width: 90% !important;
      padding: 2em !important;
    }
    &-item {
      text-align: center !important;
      grid-template-columns: auto !important;
      padding: 1em 4em;
    }
    &-animation {
      width: 100%;
    }
  }
  .boatToAnimate {
    width: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .sailmap {
    &-wrapper {
      width: 950px;
    }
    &-animation {
      width: 950px;
    }
  }
}
// ul.mobile_nav {
//   max-height: 600px;
//   height: 200px;
//   display: block;
//   width: 150px;
//   transition: 0.3s;
//   position: absolute;
//   text-align: center;
//   left: 0;
//   background: radial-gradient(
//     225.88% 225.88% at 50% 50%,
//     rgba(11, 14, 39, 0.4) 0%,
//     #0b0e27 42.28%
//   );
//   width: 100%;
//   top: 70px;
// }

ul.mobile_nav li {
  padding: 5px;
}
.for_flex_hide {
  text-align: center;
}
